{% extends "app/base.html" %} {% block content %}
<div class="row">
  <div class="col-md-8">
    {% for post in post_data %}
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">{{ post.title}}</h2>
        <p class="card-text">{{ post.content|truncatechars:100}}</p>
        <div class="btn btn-warning">
          <a href="{% url 'post_detail' post.id %}" class="stretched-link">
            詳細
          </a>
        </div>
      </div>
      <div class="card-footer text-muted">
        {{ post.created|date }} by {{ post.author }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">このチュートリアルについて</h5>
      <div class="card-boy">
        <p>ステップ</p>
        <p class="mb-0">
          初めてのDjangoを触る方向向けのチュートリアルです。
          最小限の機能を作ります。
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
